#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.container-app {
  width: 100%;
}

.title-app {
  color: #FFFFFF !important;
}

.character-card {
  width: 100%;
  margin-bottom: 12px;
}

.container-modal {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.image-modal img {
  border-radius: 10px;
  width: 100%;
}

.info-modal {
  text-align: left;
  padding: 0;
}

.info-modal span {
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .character-card {
    width: 97%;
  }

  .container-app {
    width: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container-modal {
    flex-direction: row;
  }

  .info-modal {
    padding: 0.5rem;
    width: 49%;
  }
}